body, html {
    overflow-x: hidden;
    position: relative;
    background-color: black;
    z-index: -5;
}

.navbar_custom {
    position: relative;
    z-index: 2;
    padding: 20px 50px;
    background-color: #3dd5f3;
}

.navlogo {
    margin: 2px 10px;
}

.company_name {
    font-family: 'Lobster', cursive;
    color: black;
    margin-right: 10px;
}

@media (max-width: 952px) {
    .navbar_custom {
        padding: 5px 2px;
    }
}

.nav_hov {
    padding: 10px;
    border-radius: 10px;
    transition: background-color 1s;
    font-weight: 500;
}

.nav_hov:hover {
    background-color: #000000;
    color: white;
}

.nav-end {
    position: absolute;
    right: 100px;
}

@media (max-width: 994px) {
    .nav-end {
        position: relative;
        right: 0;
    }
}


/*footer*/

footer {
    background-color: #3dd5f3;
    color: black;
}

.footer-row {
    padding: 50px;
}

.foother-cols {
    padding: 10px;
}

footer h3 {
    line-height: 1.5;
    font-weight: 700;
}

.foother-cols-1 h5:hover {
    color: #414141;
}

.foother-cols a {
    text-decoration: none;
    color: black;
}

.foother-cols a:hover {
    text-decoration: none;
    color: #414141;
}

.company_name_footer {
    font-family: 'Lobster', cursive;
}

.bottom {
    text-align: center;
    margin-top: 20px;
}

