h3 {
    font-size: 24px
}

h6 {
    font-size: 16px
}

h3, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.w3-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.w3-button {
    width: 100%;
    padding: 8px 16px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;

    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.btn-color{
    color: white;
    background-color: rgba(105, 105, 105, 0.7);
}

.btn-color:hover {
    background-color: #ccc;
    color: #000
}

.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.main-card-light{
    background-color: #efefef;
    color: black;
    transition: background-color 2s, color 2s ;
}

.main-card-light:hover{
    background-color: #1f1f1f;
    color: #eaeaea;
}

.main-card-dark{
    background-color: #181818;
    color: #ececec;
    transition: background-color 1s, color 1s ;
}

.main-card-dark:hover{
    background-color: #3dd5f3;
    color: black;
}

.panel{
    margin: 10px 0;
}

.panel-body {
    overflow: hidden;
}

.panel-body img {
    display: block;
    object-fit: cover;
    overflow: hidden;
    transition: transform 400ms ease-out;

}

.panel-body img:hover {
    transform: scale(1.10);
}

.body-light {
    background-color: white;
    color: black;
}

.body-dark {
    background-color: #212121;
    color: white;
}



.main-body-lg-div-light {
    background-color: white;
    transition: background-color 1s, color 1s;
}

.main-body-lg-div-light:hover {
    background-color: #212121;
    color: white;
}

.main-body-lg-div-dark {
    background-color: #212121;
    transition: background-color 1s, color 1s;
}

.main-body-lg-div-dark:hover {
    background-color: white;
    color: black;
}

/*End Section*/
.end-section-light {
    padding: 30px;
    text-align: center;
    background-color: #cbcbcb;
    color: black;
}

.iconcontact-light {
    margin: 30px;
    color: black;
    transition: color 1s;
}

.iconcontact-light:hover {
    color: #565656;
}

.end-section-dark {
    padding: 30px;
    text-align: center;
    background-color: #181818;
    color: white;
}

.iconcontact-dark {
    margin: 30px;
    color: white;
    transition: color 1s;
}

.iconcontact-dark:hover {
    color: #b3b3b3;
}
