body, html {
    overflow-x: hidden;
    position: relative;
}

.navbar_custom {
    padding: 20px 50px;
    background-color: #3dd5f3;
}

.navlogo {
    margin: 2px 10px;
}

.company_name {
    font-family: 'Lobster', cursive;
    color: black;
    margin-right: 10px;
}

@media (max-width: 952px) {
    .navbar_custom {
        padding: 5px 2px;
    }
}

.nav_hov {
    padding: 10px;
    border-radius: 10px;
    transition: background-color 1s;
    font-weight: 500;
}

.nav_hov:hover {
    background-color: #000000;
    color: white;
}

.nav-end {
    position: absolute;
    right: 100px;
}

@media (max-width: 994px) {
    .nav-end {
        position: relative;
        right: 0;
    }
}

footer {
    background-color: #3dd5f3;
    color: black;
}

.footer-row {
    padding: 50px 0;
}

.foother-cols {
    padding: 10px;
}

footer h3 {
    line-height: 1.5;
    font-weight: 700;
}

.foother-cols-1 h5:hover {
    color: #414141;
}

.foother-cols a {
    text-decoration: none;
    color: black;
}

.foother-cols a:hover {
    text-decoration: none;
    color: #414141;
}

.company_name_footer {
    font-family: 'Lobster', cursive;
}

.bottom {
    text-align: center;
    margin-top: 20px;
}


@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: #111;
}

.header {
    min-height: 60vh;
    background-color:#3dd5f3 ;
    color: white;
    clip-path: ellipse(100vw 60vh at 50% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.details {
    text-align: center;
}

.profile-pic {
    height: 8rem;
    width: 8rem;
    object-fit: center;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: white;
}



.mobile_no {
    font-family: Courier New;
    font-weight: bold;
    font-size: 20px;
    color: #3dd5f3;
}

.mob {
    color: #3dd5f3;
}

.stats {
    display: flex;
}

.stats .col-4 {
    width: 10rem;
    text-align: center;
}

.heading {
    font-weight: 600;
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #3dd5f3;
}



/*
.usage_info {
    padding-top: 5%;
    padding-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}*/


.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.bigdot {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
/*
.spending {
    background-color: #111;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5px;
}

.spending td {
    font-size: 1.0rem;
    padding: 6px 6px 6px 20px;
    font-family: 'RocknRoll One', sans-serif;
    color: white;
}

.spending .rate {
    color: #3dd5f3;
}

.deposit_waste {
    background-color: #111;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: 20px;
}

.deposit_waste td {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.deposit_waste th {
    font-size: 1.1rem;
    padding-top: 10px;
    font-family: 'RocknRoll One', sans-serif;
    color: #3dd5f3;
    padding-right: 10px;
    text-align: center;
}

.deposit_waste table {
    text-align: center;
}

*/












.header {
    padding-top: 20px;
    padding-bottom: 30px;
}


@media screen and (max-width: 600px) {

    .gr, .lr {
        margin-top: 8px;
    }
/*
    .deposit_waste th {
        padding-right: 0px;
    }

    .deposit_waste th, .deposit_waste td {
        font-size: 0.8rem;
    }*/


    .stats .col-4 {
        width: 6rem;
    }

    .stats {
        width: 60%;//
    }

    #localrank, #globalrank {
        width: 98px;
    }
    .gcb {
      width: 103px;
    }

    .header h1 {
        font-size: 1.3rem;
    }

    .mob, .mobile_no {
        font-size: 1.2rem;
    }

    .gcb, .gr, .lr {
        font-size: 1.0rem;
    }

    .hfour00, .eight, .two {
        font-size: 1.2rem;
    }


    .bigdot {
        width: 100%;
        background-color: #111;
        padding-top: 10px;
        padding-bottom: 40px;
    }

/*

    .usage_info {
        width: 80%;
    }*/
}

/*sample changes*/
.rate_of_waste {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 50px 5px;
}

.rate_of_waste h2{
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Akaya Kanadaka', cursive;
}

.rate_of_waste h3{
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bolder;
    font-size: 2.0rem;
}

.card_shop {
    margin: 25px 20px;
    padding: 15px;
    color: black;
    background-color: #ffffff;

    border-radius: 20px;
    border: 3px solid black;
    transition: background-color 1s, color 1s;
}

.card_shop:hover {
    background-color: #3dd5f3 ;
    color: black;
}

.rate_img {
    border-radius: 20px;
    display:block;
    margin: 15px auto;
    width: 85%;
    /*height: 70%;*/
}



.is {
  font-size: 1.5rem;
  font-weight: normal;
}

.card_shop h5 {
  font-family: 'RocknRoll One', sans-serif;
}

@media screen and (max-width: 600px){
  .rate_of_waste h2 {
    font-size: 1.8rem;
  }

  .is {
    font-size: 1.2rem;
  }
}

.tds {
  color: #3dd5f3;
}





.earn td {
  font-size: 1.5rem;
  font-family: 'RocknRoll One', sans-serif;
}

.div1, .div2{
  padding: 10px;
  text-align: center;
}
.div1 {
  color: white;
}
.earn {
  width: 100%;
  margin: 25px 0 25px 0 ;
}

.div1 table td {
  padding-top: 10px;
}

.div2 th {
  font-size: 1.5rem;
}

.div2 td {
  font-size: 1.2rem;
}

.div2 table td {
  padding: 4px 20px 4px 20px;
  /*background-color: #3dd5f3;*/
}
.div2 table th {
  padding: 5px 20px 10px 20px;
  background-color: black;
  color: #3dd5f3;
}

.div2 {
  margin-top: 20px;
  font-family: 'RocknRoll One', sans-serif;
  /*background-color: #3dd5f3;*/
  color: black;
}

.middle {
  width : 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.center {
  width : 100%;
  background-color: #111;
}

.div2 table {
  border: 4px solid #3dd5f3;
  background-color:  #3dd5f3;
}


.header {
  background-image: url('Wastogem_profile_images/back_image.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


@media screen and (max-width: 600px){
  .div2 th {
    font-size: 1.0rem;
  }

  .div2 td {
    font-size: 0.9rem;
  }

  .div2 table td {
    padding: 2px 10px 2px 10px;
  }
  .div2 table th {
    padding: 3px 10px 5px 10px;
  }

  .div2 {
    margin-top: 15px;
  }

  .earn td {
    font-size: 1.0rem;
  }


}
